//
// Fonts
//

$cinzel: 'Cinzel', serif;
$tangerine: 'Tangerine', cursive;
$balthazar: 'Balthazar', serif;

$header-font: $cinzel;
$cursive-font: $tangerine;
$serif-font: $balthazar;

h1, h2, h3, h4 {
  font-weight: 400;
  font-family: $header-font;
}

p {
	font-family: $serif-font;
	margin: 0px;
}

.btn {
  font-weight: 400;
  font-family: $header-font;  
  text-transform: none;
}

.index-post-title {
	font-weight: 400;
	font-size: 25px;
}

.index-post-excerpt {
	margin-bottom: 25px;
	max-height: 200px;
	overflow: hidden;
}

header.masthead .page-heading .subheading, header.masthead .site-heading .subheading {
  font-family: $cursive-font;
	font-size: 40px;
}

.overlay h2, .overlay a {
	padding: 0.5em 0;
  padding-top: 18%;
  font-size: 45px;
	text-transform: none;
  font-family: $cursive-font;
  text-decoration: none;
}

#mainNav .navbar-nav>li.nav-item>a {
  font-weight: 400;
	text-transform: none;
  font-family: $balthazar;
	font-size: 14px;
}

#mainNav .navbar-brand {
  font-weight: 400;
  font-family: $header-font;
}

#mainNav .navbar-toggler {
  font-weight: 800;
  font-family: $balthazar;
}
