//
// Tags
//

a.btn:focus {
  box-shadow: none;
}

a.btn.filter-button:hover {
  color: $primary-color;
}

a.filter-button {
  width: 100%;
  color: $primary-color;
	padding-bottom: 10px;
}

a.filter-button.collapsed {
  color: $black;
}

.filter-col {
  margin: 0px 40px;
}

a.btn.btn-primary.tag-button {
	width: fit-content;
	padding: 1px 5px;
	font-size: 10px;
}

a.btn.btn-primary.tag-button.active {
	background-color: $active-button-color;
}

.tags-list {
	text-align: center;
	display: inline-block;
	width: 100%;
	padding: 10px;
}

.post-snippit-tags-list {
	text-align: left;
  padding: 25px 0px;
}
