//
// VARIABLES
//

// Colors
$blue: #4183C4;
$teal: #0085a1;
$primary-color: $teal;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;


// Index related variables
$overlay-color: $primary-color;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
