---
layout: default
title: About Me
---

<section>
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-4 order-lg-2">
				<div class="about-circle-image">
					<img class="img-fluid rounded-circle" src="/images/01.jpg" alt="">
				</div>
			</div>
			<div class="col-lg-8 order-lg-1">
				<div class="p-5">
					<h2 class="display-4">Cosplayer</h2>
					<p>{{ page.cosplayer }}</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-4">
				<div class="about-circle-image">
					<img class="img-fluid rounded-circle" src="/images/01.jpg" alt="">
				</div>
			</div>
			<div class="col-lg-8">
				<div class="p-5">
					<h2 class="display-4">Gamer</h2>
					<p>{{ page.gamer }}</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container last-about-section">
		<div class="row align-items-center">
			<div class="col-lg-4 order-lg-2">
				<div class="about-circle-image">
					<img class="img-fluid rounded-circle" src="/images/01.jpg" alt="">
				</div>
			</div>
			<div class="col-lg-8 order-lg-1">
				<div class="p-5">
					<h2 class="display-4">Creator</h2>
					<p>{{ page.creator }}</p>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- link to blog posts -->
<div class="container">
	<div class="row">
		<div class="col-lg-6 offset-6">
			<div class="clearfix">
				<a class="btn btn-primary float-right" href="/blog/">View Blog Posts &rarr;</a>
			</div>
		</div>
	</div>
</div>
