---
layout: default
---
<!-- Tag Filter (Full tags list) -->
{% include tag.html %}

<div class="container">
	<div class="row align-items-center">
		<div class="col filter-col">
			<div>
				<a class="btn col-12 filter-button" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
					Filter <i class="fa fa-filter"></i>
				</a>
			</div>
			<div class="collapse show" id="collapseExample">
        <div class="card card-body tags-list">
          {% for tag in tags %}
            {% include tag-button.html %}
          {% endfor %}
        </div>
			</div>
		</div>
	</div>
</div>

{% for post in site.tags[page.tag] %}
  {% include post-snippit.html %}
  {% unless forloop.last %}
    <hr>
  {% endunless %}
{% endfor %}
